
<!-- Div de encabesado -->
<div class="row">
  <div class="col-xs-4">
  <H6>HOSPITAL GENERAL SANTODOMINGO</H6>
  </div>
  <div class="col-xs-8">
  <h6 class="text-right">LISTADO DE PROBLEMAS</h6>
  </div>
</div>
<div class="">
<!-- -->
<div ng-include='"src/sgh/encabezado/encabezado.html"'></div>

</div>
<hr>

</center>

<!--NUEVO REGISTRO -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button id="closemodal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
      </div>

      <div class="modal-body ">

      <div ng-model="datosAguardar">

          <form ng-submit="accion()">
            <div class="table-responsive">
              <table class="table">
              
                    <th class="bt_tab">Edad</th>
                    <td>
                      <div ng-show="false">   

                      </div>
                      <input type="text" class="form-control input-sm" ng-model="datosAguardar.pbl_edad" maxlength="80">
                    </td>
                    <th>Fecha de inicio:</th>
                    <td>
                      <input type="date" class="form-control input-sm"  ng-model="datosAguardar.pbl_fecini">
                    </td>
                     <th>Fecha de detección:</th>
                    <td>
                      <input type="date" class="form-control input-sm"  ng-model="datosAguardar.pbl_fecdet">
                    </td>
             
              </table>

              <table class="table">
        
                  <th> Antecedentes familiares hereditarios diagnósticos previos, factores de riesgo sintomas, signos *</th>
                  <th>Activo</th> <th>Pasivo</th>
                <tr>  
                  <td ><input type="text" class="form-control input-sm"  ng-model="datosAguardar.pbl_antece" capitalize required maxlength="500"></td>
                 <th class="bt_tab">
                    <input ng-model="datosAguardar.pbl_actpasi" value="ACTIVO" type="radio" class="ace" /><span class="lbl"></span>
                 </th>
                  <th class="bt_tab">
                    <input ng-model="datosAguardar.pbl_actpasi" value="PASIVO" type="radio" class="ace" /><span class="lbl"></span>
                  </th>
                </tr>
              </table>
          
              <b>Síndrome. diagnósticos, problemas, o diagnósticos definitivos *</b>

              <input type="text" class="form-control"  ng-model="datosAguardar.pbl_sindro" capitalize required maxlength="500">
             
          </div>                   
            <br>
             <div class="row text-right">
                <button  ng-disabled="actguarda"  type="submit" class="btn btn-white btn-info btn-round">
                        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                        Guardar
                      </button>
                      <button class="btn btn-white btn-default btn-round" ng-click="cancelar()">
                        <i class="ace-icon fa fa-times red2"></i>
                        Cancelar
                      </button>  
                </div>
                <div class="animate fadeInDown"  ng-show="mensaje">            
                  <center><H4 class="alert alert-info"><strong>{{text}}</strong></H4></center>
              </div>    
          </form>
    </div>

  </div>
</div>
  </div>
  </div>

<!--TABLA DE REGISTRO -->



   <div class="row"> 
         <div class="col-sm-11" ><!-- -->
            <input type="text" class="form-control" placeholder="Buscar " ng-model="search"
            style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();">
          </div>
           <div class="col-sm-1">
              <button id="n" type="button" class="btn btn-white btn-default btn-round" data-toggle="modal" data-target="#myModal" ng-disabled="admi">Nuevo
            </button>
            </div>
   </div>
    <br>
   
   <div class="table-responsive">
      <table id ="tabla" class="table" > 
          <thead>
           <tr>
                <td colspan="6">
                  <center>PROBLEMAS</center>
                </td>
                <td colspan="3">
                  <center>RESUELTO A :
                      <a ui-sref="repote({id:'{{pro.pbl_id_pk}}',ruta:'src/sgh/problemas/php/reporte_listadeproblemas.php?c='})">
                      <buttton class="btn btn-white btn-default btn-round btn-xs">
                          <i class="ace-icon  glyphicon glyphicon-print red2" title="pdf"/>
                      </buttton>
                  </a></center>
                </td>
           </tr>
           <tr>
              <th class="bt_tab, th"><center>EDAD</center></th>
              <th class="widthtd, th"><center>F. DE INICIO</center></th>
              <th class="widthtd, th"><center>F. DE DETECCIÓN</center></th>
              <th class="width-30-pct, th">ANTECEDENTES FAMILIARES </th>
              <th  class="bt_tab, th">ACTIVO / PASIVO</th>
              <th class="width-30-pct, th">SÍNDROME. DIAGNÓSTICO </th>
              <th class="widthtd, th"><center>FECHA</center></th>
              <th class="bt_tab,  th"><center>EDITAR</center></th>
          </tr>
          </thead>

          <tbody>  
            <tr ng-repeat="pro in problemas | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item">
            	<td class="bt_tab"><center>{{pro.pbl_edad}}</center></td>
            	<td class="widthtd"><center>{{pro.pbl_fecini | date:'dd/MM/yyyy'}}</center></td>
              <td class="widthtd"><center>{{pro.pbl_fecdet | date:'dd/MM/yyyy'}}</center></td>
              <td class="width-30-pct ">{{pro.pbl_antece}}</td>
              <th class="bt_tab"><center>

              <input ng-model="pro.pbl_actpasi" value="ACTIVO" type="radio" class="ace" disabled /><span class="lbl" ></span> 
              <input ng-model="pro.pbl_actpasi" value="PASIVO" type="radio" class="ace" disabled /><span class="lbl" ></span> </center> </th>
              <td class="width-30-pct ">{{pro.pbl_sindro}}</td>
              <td class="widthtd"><center>{{pro.pbl_fehca | date:'dd/MM/yyyy'}}</center></td>
              
              <td class="bt_tab">
                <button type="button" class="btn btn-white btn-default btn-round btn-xs " ng-click="edita(pro.pbl_id_pk)" data-toggle="modal">
                <img src="img/edit.png" height="20" width="20">
                </button>
            </td>
              </td>
            </tr>
          </tbody>
  
      </table>
   </div>
   <th class="th">
    <center>
            <button type="button" class="btn btn-white btn-default btn-round btn-xs"  ng-click="pagina=1"><<</button>             
            <button type="button" class="btn btn-white btn-default btn-round btn-xs"  ng-click="paginas(0)"><</button>  
                       | Page {{pagina}} de {{posicion}} |      
            <button type="button" class="btn btn-white btn-default btn-round btn-xs" ng-click="paginas(1)">></button>
            <button type="button" class="btn btn-white btn-default btn-round btn-xs" ng-click="pagina = posicion">>></button>

            </center>
    </th>   
</div>
</div>