
<!-- Div de encabesado -->
<div class="row">
  <div class="col-xs-4">
  <!-- <H6>HOSPITAL GENERAL SANTODOMINGO</H6> -->
  </div>
  <div class="col-xs-8">
  <h6 class="text-right">ESCALA DE DOWNTON (Paciente Adulto)</h6>
  </div>
</div>
<div class="">
<!-- -->
<div ng-include='"src/sgh/encabezado/encabezado.html"'></div>

</div>
<hr>

</center>

<!--NUEVO REGISTRO -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button id="closemodal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
      </div>

      <div class="modal-body ">

      <div ng-model="datosAguardar">

          <form ng-submit="accion()">
              <div ng-show="ver_fecha">
                  Fecha *
                  <input type="date" class="form-control" ng-model="datosAguardar.dsd_fecha"  required="required">
                  <br>
              </div>

          <label>Turno de la : </label>
          <div class="table-responsive">   
            <select required ng-model="datosAguardar.dsd_matano" class="form-control ">
              <option value="">Seleccione</option>
              <option value="MAÑANA">Mañana</option>
              <option value="TARDE">Tarde</option>
              <option value="NOCHE">Noche</option>
            </select> 
            <br>
            <table class="table table-bordered">
                <tr>
                    <th colspan="2" > <center>VARIABLES</center></th>
                    <th class="bt_tab"><center>PUNTAJE</center></th>
                </tr>
                <tr> 
                    <td rowspan="2" class="width-10-pct"><br><center>Caídas Previas</center></td>
                    <td>No</td>
                    <td><center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_no" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                <tr> 
                    <td>Si</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_si" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                <tr>
                    <td rowspan="7"  class="width-10-pct"><br><br><br><br><br><br><br><center>Uso de medicamentos</center></td> 
                    <td>Ninguno</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_ninguna" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                <tr>
                    <td>Tranquilizantes - sedantes</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_tranqu" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                <tr>
                    <td>Diuréticos</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_diuret" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                   <tr>
                    <td>Hipontesores(no diuréticos)</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_hipote" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                   <tr>
                    <td>Anti parkinsonianos</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_antpar" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                <tr>
                    <td>Antidepresivos</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_antide" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                <tr>
                    <td>Otros medicamentos</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_otrmed" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                   <tr>
                    <td rowspan="4"  class="width-10-pct"> <br><br><br><br><center>Déficit Sensorial</center></td>
                    <td>Ninguno</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_ningun" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                   <tr>
                    <td>Alteraciones visuales</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_altvis" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                   <tr>
                    <td>Alteraciones auditivas</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_altaud" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                <tr>
                    <td>Extremidades</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_extrem" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                <tr>
                    <td rowspan="2"  class="width-10-pct"><br><center>Estado Mental</center></td>
                    <td>Orientado</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_orient" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                <tr>
                    <td>Confuso</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_confus" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                <tr>
                    <td rowspan="4"  class="width-10-pct"><br><br><br><br><center>Deambulación</center></td>
                    <td>Normal</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_normal" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                <tr>
                    <td>Segura con ayuda</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_segayu" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                <tr>
                    <td>Insegura con ayuda</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_insayu" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                <tr>
                    <td>No deambula</td>
                    <td>
                    <center>
                      <input type="checkbox" class="ace" checked ng-model="dsd_nodeam" ng-click="valores()">
                      <span class="lbl"></span></center></td>
                </tr>
                </table>
            
            <div class="col-xs-8">
                <table class="table table-bordered">
                    <tr>
                        <td class="width-10-pct"><b>INTERPRETACIÓN PUNTAJE </b></td>
                        <td class="width-10-pct">
                         <center>
                         <b> 
                        {{datosAguardar.dsd_califi}} | {{interpre}}
                        </b>
                        </center>
                        </td>

                    </tr>
                    <tr>
                        <th>Más de 3</th>  
                        <TH>Alto Riesgo</TH>
                    </tr>
                    <tr>
                        <th>2 a 3</th>  
                        <TH>Mediano Riesgo</TH>
                    </tr>
                    <tr>
                        <th>0 a 1 </th>  
                        <TH>Bajo Riesgo</TH>
                    </tr>
                </table>
            </div>
          </div>                   
            <br>
             <div class="row text-right"  >
                <button ng-disabled="actguarda" type="submit" class="btn btn-white btn-info btn-round">
                        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                        Guardar
                      </button>
                      <button class="btn btn-white btn-default btn-round" ng-click="cancelar()">
                        <i class="ace-icon fa fa-times red2"></i>
                        Cancelar
                      </button>  
                </div>
                <div class="animate fadeInDown"  ng-show="mensaje">            
                  <center><H4 class="alert alert-info"><strong>{{text}}</strong></H4></center>
              </div>    
          </form>
    </div>

  </div>
</div>
  </div>
  </div>

<!--TABLA DE REGISTRO -->



   <div class="row"> 
         <div class="col-sm-11" ><!-- -->
            <input type="text" class="form-control" placeholder="Buscar " ng-model="search"
            style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();">
          </div>
           <div class="col-sm-1">
              <button id="n" type="button" class="btn btn-white btn-default btn-round" data-toggle="modal" data-target="#myModal" ng-disabled="admi">Nuevo
            </button>
            </div>
   </div>
    <br>
  
<div class="table-responsive">
 <table class="table table-bordered">
                <tr>
                    <th colspan="2" class="th"> <center> VARIABLES <br>
                    <h9>Más de 3 = Alto Riesgo | 2 a 3 = Mediado Riesgo | 0 a 1 =Bajo Riesgo </h9>
                    </center></th>
                    <td class="width-20-pct, th" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center><b>{{dow.dsd_fehca | date:'dd/MM/yyyy'}} <br> {{dow.dsd_matano}}</b> </center> </td>
                    
                </tr>
                <tr>
              
                    <td colspan="2"><center><b>PUNTAJE </b>
                        <a ui-sref="repote({id:'{{dow.dow_id_pk}}',ruta:'src/sgh/downton/php/reporte_dawton.php?c='})">
                            <buttton class="btn btn-white btn-default btn-round btn-xs">
                                <i class="ace-icon  glyphicon glyphicon-print red2" title="pdf"/>
                            </buttton>
                        </a>

                    </center></td>
                    <td class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item">
                    <center>
                    <b> 
                    {{dsd_califi=dow.dsd_no+dow.dsd_si+dow.dsd_ninguna+dow.dsd_tranqu+dow.dsd_diuret+dow.dsd_hipote+dow.dsd_antpar+dow.dsd_antide+dow.dsd_otrmed+dow.dsd_ningun+dow.dsd_altvis+dow.dsd_altaud+dow.dsd_extrem+dow.dsd_orient+dow.dsd_confus+dow.dsd_normal+dow.dsd_segayu+dow.dsd_insayu+dow.dsd_nodeam}}
                    </b>
                    </center>
                    </td>
                </tr>
                <tr> 
                    <td class="width-10-pct"  rowspan="2"><br><center>Caídas Previas</center></td>
                    <td class="width-10-pct" >No</td>
                    <td  class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_no}}</center></td>
                </tr> 
                <tr> 
                    <td class="width-10-pct">Si</td>
                    <td class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_si}}</center></td>
                </tr>
                <tr>
                    <td rowspan="7"  class="width-10-pct">  <br><br><br><br><br><br><br><center>Uso de medicamentos</center></td> 
                    <td class="width-10-pct">Ninguno</td>
                    <td  class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_ninguna}}</center></td>
                </tr>
                <tr>
                    <td class="width-10-pct">Tranquilizantes - sedantes</td>
                    <td  class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_tranqu}}</center></td>
                    </tr>
                <tr>
                    <td class="width-10-pct">Diuréticos</td>
                    <td  class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_diuret}}</center></td>
                </tr>
                   <tr>
                    <td class="width-10-pct">Hipontesores(no diuréticos)</td>
                    <td  class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_hipote}}</center></td>

                </tr>
                   <tr>
                    <td class="width-10-pct" >Anti parkinsonianos</td>
                    <td  class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_antpar}}</center></td>

                </tr>
                <tr>
                    <td class="width-10-pct" >Antidepresivos</td>
                    <td  class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_antide}}</center></td>
                   
                </tr>
                <tr>
                    <td class="width-10-pct" >Otros medicamentos</td>
                    <td  class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_otrmed}}</center></td>
                </tr>
                   <tr>
                    <td class="width-10-pct"  rowspan="4"> <br><br><br><center>Déficit Sensorial</center></td>
                    <td class="width-10-pct" >Ninguno</td>
                    <td  class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_ningun}}</center></td>
                </tr>
                   <tr>
                    <td class="width-10-pct" >Alteraciones visuales</td>
                    <td  class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_altvis}}</center></td>
                </tr>
                   <tr>
                    <td class="width-10-pct" >Alteraciones auditivas</td>
                    <td class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_altaud}}</center></td>
                </tr>
                <tr>
                    <td class="width-10-pct" >Extremidades</td>
                    <td class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_extrem}}</center></td>

                </tr>
                <tr>
                    <td class="width-10-pct" rowspan="2"><br><center>Estado Mental</center></td>
                    <td class="width-10-pct">Orientado</td>
                    <td class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_orient}}</center></td>

                </tr>
                <tr>
                    <td class="width-10-pct">Confuso</td>
                     <td class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_confus}}</center></td>

                </tr>
                <tr>
                    <td rowspan="5" class="width-10-pct"> <br><br><br><br><center>Deambulación</center></td>
                    <td class="width-10-pct">Normal</td>
                    <td class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_normal}}</center></td>

                </tr>
                <tr>
                    <td class="width-10-pct">Segura con ayuda</td>
                    <td class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_segayu}}</center></td>

                </tr>
                <tr>
                    <td class="width-10-pct">Insegura con ayuda</td>
                    <td class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_insayu}}</center></td>

                </tr>
                <tr>
                    <td class="width-10-pct">No deambula</td>
                    <td class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center>{{dow.dsd_nodeam}}</center></td>
                </tr>
                <tr>
                    <td class="width-10-pct">Editar</td>
                    <td class="widthtd" ng-repeat="dow in downton | filter:search | limitTo: (pagina * totalpaginas) | limitTo: item"><center><button type="button" class="btn btn-white btn-default btn-round btn-xs " ng-click="edita(dow.dow_id_pk)" data-toggle="modal">
                <img src="img/edit.png" height="20" width="20"></button>
                </button>
                </td>
                </td>
                </tr>
                </table>
</div>        
     <th class="th">
    <center>
            <button type="button" class="btn btn-white btn-default btn-round btn-xs"  ng-click="pagina=1"><<</button>             
            <button type="button" class="btn btn-white btn-default btn-round btn-xs"  ng-click="paginas(0)"><</button>  
                       | Page {{pagina}} de {{posicion}} |      
            <button type="button" class="btn btn-white btn-default btn-round btn-xs" ng-click="paginas(1)">></button>
            <button type="button" class="btn btn-white btn-default btn-round btn-xs" ng-click="pagina = posicion">>></button>

            </center>
    </th>   