<ul class="nav nav-list">
<li ui-sref-active="active">

        <a ui-sref="cama">
            <i class="menu-icon fa  fa-cog"></i>
            Camas
        </a>

        <b class="arrow"></b>
    </li>
    <li ui-sref-active="active">

        <a ui-sref="tipocama">
            <i class="menu-icon fa  fa-cog"></i>
            Ubicación cama
        </a>

        <b class="arrow"></b>
    </li>
  <li ui-sref-active="active">

        <a ui-sref="censo_dia">
            <i class="menu-icon fa  fa-cog"></i>
            Censo
        </a>

        <b class="arrow"></b>
    </li>
   <li ui-sref-active="active">

        <a ui-sref="listahistorias">
            <i class="menu-icon fa  fa-cog"></i>
            Histias clínicas
        </a>

        <b class="arrow"></b>
    </li>  
  </ul>
