<ul class="nav nav-list">
  <li ng-class="mInicio">
    <a href="#/">
      <i class="menu-icon fa fa-tachometer"></i>
      <span class="menu-text"> Inicio </span>
    </a>
    <b class="arrow"></b>
  </li>

         <li class="">
          <a href="#" class="dropdown-toggle">
            <i class="menu-icon glyphicon glyphicon-book"></i>
            Formularios 
              <b class="arrow fa fa-angle-down"></b>
          </a>
          <b class="arrow"></b>
            
            <ul class="submenu">
                    <li ui-sref-active="active">
                      <a ui-sref="admision">
                        Hoja de admisión
                      </a>
                    </li>
                    
                    <li ui-sref-active="active">
                      <a ui-sref="sigvit">
                        Signos vitales 
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="evolucion">
                        Evolución y prescripciones  
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="anamnesis">
                        Historia clínica (anamnesis) 
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui--sref="adulto">
                        Atención al adulto mayor  
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="escalageriatrica">
                        Escala geriátrica
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="kardex">
                        Administración de medicamentos
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="ingesta">
                        Control de ingesta y eliminación
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="concent">
                         Consentimiento informado
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="glicemia">
                         Control de glicemia e insulina
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="interconsulta">
                         Interconsultas
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="rehabi">
                         Tratamiento de medicina física y rehabilitación 
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="epicrisis">
                         Epicrisis
                      </a>
                    </li>

                     <li ui-sref-active="active"> 
                      <a ui-sref="referencia">
                         Formulario de referencia y derivación  
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="informa">
                         Información al paciente
                      </a>
                    </li> 
                         <li ui-sref-active="active">
                      <a ui-sref="problemas">
                         Lista de problemas
                      </a>
                    </li> 
                        

                   <li ui-sref-active="active">
                      <a ui-sref="downes">
                         score downes
                      </a>
                    </li> 

                   </ul>
       </li>
       <!--Solicitudes-->
    <li class="">
          <a href="#" class="dropdown-toggle">
            <i class="menu-icon glyphicon  glyphicon-list-alt"></i>
              Solicitudes
              <b class="arrow fa fa-angle-down"></b>
          </a>
          <b class="arrow"></b>

            <ul class="submenu">
                   <li ui-sref-active="active">
                      <a ui-sref="laboratorio">
                        Laboratorio clínico
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="bacteriologico">
                        Bacteriológico de tuberculosis
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="cervicovaginal">
                        Citología servicio vaginal
                      </a>
                    </li>

                     <li ui-sref-active="active">
                      <a ui-sref="histopatologia">
                        Histopatología
                      </a>
                    </li>

                     <li ui-sref-active="active">
                      <a ui-sref="vihsida">
                        Para VIH/SIDA
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="microbiologico">
                        Pedido especial para microbiológico
                      </a>
                    </li>

                    <!--<li ui-sref-active="active">-->
                      <!--<a ui-sref="imagenologia">-->
                        <!--Imagenología-->
                      <!--</a>-->
                    <!--</li>-->


            </ul>
        </li>

    <!--menu por-->
      <li class="">
          <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
              Por
              <b class="arrow fa fa-angle-down"></b>
          </a>
          <b class="arrow"></b>
            
            <ul class="submenu">
                    <li ui-sref-active="active">
                      <a ui-sref="reconcilacion">
                        Reconciliación de medicamentos
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="eventosadversos">
                        Notificación de eventos adversos 
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="transferencia">
                        Transferencia de pacientes en puntos de transición
                      </a>
                    </li>

                     <li ui-sref-active="active">
                      <a ui-sref="wells">
                        Escala clínica de Wells
                      </a>
                    </li>

                    <li ui-sref-active="active">
                      <a ui-sref="brander">
                        Escala de braden
                      </a>
                    </li>


                    <li ui-sref-active="active">
                      <a ui-sref="downton">
                        Escala de downton
                      </a>
                    </li>
                       <li ui-sref-active="active">
                      <a ui-sref="prevenciondecaidas">
                        Prevención de caídas
                      </a>
                </li>

            </ul>
        </li>
<!-- inicio del 3 menu-->
<li ui-sref-active="active">

        <a ui-sref="cama">
            <i class="menu-icon fa  fa-cog"></i>
            Camas
        </a>

        <b class="arrow"></b>
    </li>
    <li ui-sref-active="active">

        <a ui-sref="tipocama">
            <i class="menu-icon fa  fa-cog"></i>
            Ubicación cama
        </a>

        <b class="arrow"></b>
    </li>
  <li ui-sref-active="active">

        <a ui-sref="censo_dia">
            <i class="menu-icon fa  fa-cog"></i>
            Censo
        </a>

        <b class="arrow"></b>
    </li>

 