<br>
<script type="text/javascript">

            $('#timepicker1').timepicker(
              {
                showMeridian:false,
                template: false,
                showInputs: false,
                minuteStep: 1   
              }

              );
</script>

<!-- Div de encabesado -->
<div class="row">
  <div class="col-xs-8">
  <H6>HOSPITAL GENERAL SANTO DOMINGO</H6>
  </div>
  <div class="col-xs-4">
  <h6 class="text-right">CONTROL DE  GLICEMIA E INSULINA</h6>
  </div>
</div>
<!-- -->
<div ng-include='"src/sgh/encabezado/encabezado.html"'></div>

<hr>

</center>

<!--NUEVO REGISTRO -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button id="closemodal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">GLICEMIA E INSULINA</h4>
      </div>

      <div class="modal-body ">

      <div ng-model="datosAguardar">

          <form ng-submit="accion()">
            <div class="row">
            <div class="col-xs-6 col-md-2">
               * FECHA
                        <input type="date" class="form-control" ng-model="datosAguardar.hgi_totadm"  required>
            </div> <div class="col-xs-6 col-md-2">

                 HORA: <br>
                <div class="input-group bootstrap-timepicker timepicker">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                     <input id="timepicker1" ng-model="datosAguardar.hgi_fecha" type="text" class="form-control input-small">
                </div>
            </div>
            <div class="col-xs-6 col-md-2">
                GLICEMIA:<br> <input type="number" class="form-control input-sm"  ng-model="datosAguardar.hgi_glicem"  required min="0" max="9999" step="1">
            </div>
            <div class="col-xs-6 col-md-2">
                ESQUEMA:<br> <input type="number" class="form-control input-sm" ng-model="datosAguardar.hgi_esquem" required  required min="0" max="9999" step="1">
            </div>
             <div class="col-xs-6 col-md-3">    
                ESCAPES CORRECCIÓN :<br> <input type="number" class="form-control input-sm"  ng-model="datosAguardar.hgi_espaco"  required min="0" max="9999" step="1">
            </div>

             <div class="col-xs-12   col-md-12">
                Observaciones:<br>
                <textarea type="text" class="form-control input-sm"  ng-model="datosAguardar.hgi_obcerv" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" maxlength="80"> </textarea>
            </div>
            </div>
            <hr>
             <div class="row" >
                <div class="text-right">
                    <button ng-disabled="actguarda" type="submit" class="btn btn-white btn-info btn-round">
                        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                        Guardar
                      </button>
                      <button class="btn btn-white btn-default btn-round" ng-click="cancelar()">
                        <i class="ace-icon fa fa-times red2"></i>
                        Cancelar
                      </button>  
              </div>   </div>
                
                  <div class="animate fadeInDown"  ng-show="mensaje">            
                 <center><H4 class="alert alert-info"><strong>{{text}}</strong></H4></center>
              </div>
       </form>
    </div>

      </div>
  </div>
  </div>
  </div>

<!--TABLA DE REGISTRO -->
   <div class="row"> 
         <div class="col-sm-11" ><!-- -->
            <input type="text" class="form-control" placeholder="Buscar " ng-model="search"
            style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();">
          </div>
             
           <div class="col-sm-1">
               <button type="button" id="n" class="btn btn-white btn-default btn-round" data-toggle="modal" data-target="#myModal" ng-disabled="admi">Nuevo</button>
           </div>
           
   </div>
    <br>
   
   <div class="table-responsive">
   <!--table table-responsive-->
      <table id ="tabla" class="table" > 
          <thead>
           <tr>
              <th class="width-20-pct, th"><center>FECHA</center></th>
              <th class="width-20-pct, th"><center>CAMA</center></th>
              <th class="width-20-pct, th"><center>SALA</center></th>
              <th class="width-20-pct, th"><center>GLICEMIA</center></th>
              <th class="width-20-pct, th"><center>ESQUEMA</center></th>
              <th class="width-10-pct, th"><center>ESCAPES CORRECCIÓN</center></th>
              <th class="width-10-pct, th "><CENTER>OBSERVACIONES</CENTER></th>
              <th class="width-20-pct, th "><CENTER>EDITAR
                  <a ui-sref="repote({id:'{{gli.hgi_id_pk}}',ruta:'src/sgh/glicemiaeinsu/php/reporte_glicemia.php?c='})">
                      <buttton class="btn btn-white btn-default btn-round btn-xs">
                          <i class="ace-icon  glyphicon glyphicon-print red2" title="pdf"/>
                      </buttton>
                  </a>
              </CENTER></th>

          </tr>
          </thead>

          <tbody>  
            <tr ng-repeat="gli in glicemia | filter:search  | limitTo: (pagina * totalpaginas) | limitTo: item">
            	<td class="width-20-pct "><center>{{gli.hgi_dia | date:'dd/MM/yyyy'}} - {{gli.hgi_fecha}}</center></td>
            	<td class="width-20-pct "><center>{{gli.cam_codigo}}</center></td>
              <td class="width-20-pct "><center>{{gli.tca_descripcion | uppercase }}</center></td>
            	<td class="width-20-pct "><center>{{gli.hgi_glicem}} mg / dl </center></td>
             	<td class="width-20-pct "><center>{{gli.hgi_esquem }} UI </center></td>
              <td class="width-20-pct "><center>{{gli.hgi_espaco }} UI </center></td>
              <td class="width-20-pct "><center>{{gli.hgi_obcerv | uppercase }}</center></td>
              <th class="width-20-pct">
                <center>
              <button type="button" class="btn btn-white btn-default btn-round btn-xs " ng-click="edita(gli.hgi_id_pk)" title="Editar">
                <img src="img/edit.png" height="20" width="20">
                </button>
                </center>
                </th>
            </tr>
          </tbody>
  
      </table>
   </div>
   <th class="th">
    <center>
            <button type="button" class="btn btn-white btn-default btn-round btn-xs"  ng-click="pagina=1"><<</button>             
            <button type="button" class="btn btn-white btn-default btn-round btn-xs"  ng-click="paginas(0)"><</button>  
                       | Page {{pagina}} de {{posicion}} |      
            <button type="button" class="btn btn-white btn-default btn-round btn-xs" ng-click="paginas(1)">></button>
            <button type="button" class="btn btn-white btn-default btn-round btn-xs" ng-click="pagina = posicion">>></button>

            </center>
    </th>   
</div>
</div>